In [1]:
from pyspark.sql import SparkSession
from pyspark.ml import feature, regression, evaluation, Pipeline
from pyspark.sql import functions as fn, Row
import matplotlib.pyplot as plt
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
import numpy as np
# dataframe functions
from pyspark.sql import functions as fn
from __future__ import division
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import CountVectorizer
from pyspark.ml import Pipeline
import pandas as pd
from pyspark.ml.feature import RegexTokenizer
# we obtain the stop words from a website
import requests
stop_words = requests.get('http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words').text.split()
stop_words[0:10]
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import IDF
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import ParamGridBuilder
import seaborn
from pyspark.ml import feature
from pyspark.sql import types

In [2]:
stop_words.append('https')
stop_words.append('t')

In [ ]:
##turning polarity into stretched 0-5 scrores

#new = int((old + 1) * 2.999999999999)

In [ ]:
#we can create intensity scores from polarity but the issue then is how do we make a log of that,
#next best thing is to create more classses and then look at statistical differences from those!

In [ ]:
#scenario 1: turn all scores into positive and negative

In [3]:
fullDFP=pd.read_csv('fulldatasetT.csv',dtype={'polarity': float})

In [4]:
fullDFP=fullDFP.loc[:,['id','text','place','polarity']]

In [5]:
fullDFP['score']=0

In [6]:
#data_df.loc[data_df["mean radius"] > 12.0, "mean radius"] = 0
fullDFP.loc[fullDFP["polarity"] > 0.0, 'score'] = 1

In [7]:
fullDFP

,id,text,place,polarity,score
0,1.29E+18,Yoga Instructorüßò‚Äç‚ôÄÔ∏è @bare_table rocks it Frida...,"Kentucky, USA",0.1767,1
1,1.29E+18,Coz a nice stroll in the city is like a ghost ...,"Sydney, New South Wales",0.3333,1
2,1.29E+18,NEW! #Facemasks in my Society6 #Shop üëâ https:/...,Martinique,0.1705,1
3,1.29E+18,"I‚Äôm not saying I‚Äôm bored, but I have invented ...","Boise, ID",-0.1356,0
4,1.29E+18,Fighting Stigma: NPHET discuss regional lockdo...,"Mascouche, Qu√©bec",0.0000,0
...,...,...,...,...,...
151575,1.37E+18,Call us. We‚Äôll keep you safe. Always wear a ma...,"Boca Raton, FL",0.5000,1
151576,1.37E+18,What is #themoment you knew the pandemic was c...,"Manhattan, NY",-0.1519,0
151577,1.37E+18,I‚Äôve had just about every post-vaccine side ef...,"Sapulpa, OK",0.0958,1
151578,1.37E+18,Updated: Closure on #SouthernStateParkway EB a...,"North Valley Stream, NY",0.0000,0
151579,1.37E+18,Updated: Closure on #SouthernStateParkway EB a...,"North Valley Stream, NY",0.0000,0

In [8]:
from pyspark.sql.types import *

mySchema = StructType([StructField("id", StringType(), True)\

                       ,StructField("text", StringType(), True)\

                       ,StructField("place", StringType(), True)\

                       ,StructField("polarity", FloatType(), True)\
                       
                       ,StructField("score", IntegerType(), True)])

In [9]:
fullDf=spark.createDataFrame(fullDFP,schema=mySchema)

In [10]:
fullDf.where(fn.col('score')==1).show(10)

+--------+--------------------+--------------------+--------+-----+
|      id|                text|               place|polarity|score|
+--------+--------------------+--------------------+--------+-----+
|1.29E+18|Yoga Instructorüßò...|       Kentucky, USA|  0.1767|    1|
|1.29E+18|Coz a nice stroll...|Sydney, New South...|  0.3333|    1|
|1.29E+18|NEW! #Facemasks i...|          Martinique|  0.1705|    1|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|  0.1238|    1|
|1.29E+18|BON APPETITE

Eva...|     Bal Harbour, FL|  0.0111|    1|
|1.29E+18|We are probably m...|      Tennessee, USA|  0.0606|    1|
|1.29E+18|Great #summer nig...|        Pasadena, CA|     0.6|    1|
|1.29E+18|Waited all day to...|         Phoenix, AZ|  0.2964|    1|
|1.29E+18|Another new month...|  Navi Mumbai, India|  0.1811|    1|
|1.29E+18|@ChelseaFC

let's...|       Ogun, Nigeria|     0.5|    1|
+--------+--------------------+--------------------+--------+-----+
only showing top 10 rows

In [14]:
imdb_reviews_df = spark.read.parquet('imdb_reviews_preprocessed.parquet')
sentiments_df=spark.read.parquet('sentiments.parquet')

In [15]:
tokenizer = RegexTokenizer().setGaps(False)\
  .setPattern("\\p{L}+")\
  .setInputCol("text")\
  .setOutputCol("words")
review_words_df = tokenizer.transform(fullDf)

In [16]:
review_words_df.show()

+--------+--------------------+--------------------+--------+-----+--------------------+
|      id|                text|               place|polarity|score|               words|
+--------+--------------------+--------------------+--------+-----+--------------------+
|1.29E+18|Yoga Instructorüßò...|       Kentucky, USA|  0.1767|    1|[yoga, instructor...|
|1.29E+18|Coz a nice stroll...|Sydney, New South...|  0.3333|    1|[coz, a, nice, st...|
|1.29E+18|NEW! #Facemasks i...|          Martinique|  0.1705|    1|[new, facemasks, ...|
|1.29E+18|I‚Äôm not saying I‚Äô...|           Boise, ID| -0.1356|    0|[i, m, not, sayin...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|     0.0|    0|[fighting, stigma...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec| -0.3125|    0|[fighting, stigma...|
|1.29E+18|Fighting Stigma: ...|   Mascouche, Qu√©bec|  0.1238|    1|[fighting, stigma...|
|1.29E+18|Them COVID nights...|Vandenberg Villag...|     0.0|    0|[them, covid, nig...|
|1.29E+18|Shoot after post ...|Fort Tondiarpet, ...|     0.0|    0|[shoot, after, po...|
|1.29E+18|BON APPETITE

Eva...|     Bal Harbour, FL|  0.0111|    1|[bon, appetite, e...|
|1.29E+18|Been trying to ma...|       Southport, IN| -0.0429|    0|[been, trying, to...|
|1.29E+18|Been trying to ma...|       Southport, IN| -0.0429|    0|[been, trying, to...|
|1.29E+18|We are probably m...|      Tennessee, USA|  0.0606|    1|[we, are, probabl...|
|1.29E+18|Great #summer nig...|        Pasadena, CA|     0.6|    1|[great, summer, n...|
|1.29E+18|Waited all day to...|         Phoenix, AZ|  0.2964|    1|[waited, all, day...|
|1.29E+18|Another new month...|  Navi Mumbai, India|  0.1811|    1|[another, new, mo...|
|1.29E+18|@ChelseaFC

let's...|       Ogun, Nigeria|     0.5|    1|[chelseafc, let, ...|
|1.29E+18|Before lockdown
....|        Sagar, India|     0.0|    0|[before, lockdown...|
|1.29E+18|My Mamang pogi......|Manila City, Nati...|  0.0982|    1|[my, mamang, pogi...|
|1.29E+18|Evening in Santa ...|      Santa Cruz, CA|     0.0|    0|[evening, in, san...|
+--------+--------------------+--------------------+--------+-----+--------------------+
only showing top 20 rows

In [17]:
tweet_words_sentiment_df = review_words_df.\
    select('id', fn.explode('words').alias('word')).\
    join(sentiments_df, 'word')
tweet_words_sentiment_df.show(5)

+----------+--------+---------+
|      word|      id|sentiment|
+----------+--------+---------+
|confidence|1.29E+18|        1|
|    strong|1.29E+18|        1|
|      nice|1.29E+18|        1|
|      like|1.29E+18|        1|
|protection|1.29E+18|        1|
+----------+--------+---------+
only showing top 5 rows

In [18]:
simple_sentiment_prediction_df = tweet_words_sentiment_df.\
    groupBy('id').\
    agg(fn.avg('sentiment').alias('avg_sentiment')).\
    withColumn('predicted', fn.when(fn.col('avg_sentiment') > 0, 1.0).otherwise(0.))
simple_sentiment_prediction_df.show(5)

+--------+-------------------+---------+
|      id|      avg_sentiment|predicted|
+--------+-------------------+---------+
|1.31E+18|0.13998100664767332|      1.0|
|1.32E+18| 0.1479426096372496|      1.0|
|1.30E+18| 0.3137938922566625|      1.0|
|1.36E+18|0.12607260726072608|      1.0|
|1.37E+18|0.22395476353666896|      1.0|
+--------+-------------------+---------+
only showing top 5 rows

In [19]:
fullDf.\
    join(simple_sentiment_prediction_df, 'id').\
    select(fn.expr('float(score = predicted)').alias('correct')).\
    select(fn.avg('correct')).\
    show()

+------------------+
|      avg(correct)|
+------------------+
|0.5745594648264578|
+------------------+

In [20]:
sw_filter = StopWordsRemover()\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

# we will remove words that appear in 5 docs or less
cv = CountVectorizer(minTF=1., minDF=5., vocabSize=2**17)\
  .setInputCol("filtered")\
  .setOutputCol("tf")


# we now create a pipelined transformer
cv_pipeline = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(fullDf)
# now we can make the transformation between the raw text and the counts
cv_pipeline.transform(fullDf)

DataFrame[id: string, text: string, place: string, polarity: float, score: int, words: array<string>, filtered: array<string>, tf: vector]

In [21]:
len(cv_pipeline.stages[-1].vocabulary)

31661

In [22]:

idf = IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')
lr = LogisticRegression().\
    setLabelCol('score').\
    setFeaturesCol('tfidf').\
    setRegParam(0.0).\
    setMaxIter(100).\
    setElasticNetParam(0.)
idf_pipeline = Pipeline(stages=[cv_pipeline, idf]).fit(fullDf)

In [23]:
training_df, validation_df, testing_df = fullDf.randomSplit([0.6, 0.3, 0.1], seed=0)

In [24]:
lr_pipeline = Pipeline(stages=[idf_pipeline, lr]).fit(training_df)

In [25]:
lr_pipeline.transform(validation_df).\
    select(fn.expr('float(prediction = score)').alias('correct')).\
    select(fn.avg('correct')).show()

+------------------+
|      avg(correct)|
+------------------+
|0.7767307395228742|
+------------------+

In [26]:
vocabulary = idf_pipeline.stages[0].stages[-1].vocabulary
weights = lr_pipeline.stages[-1].coefficients.toArray()
coeffs_df = pd.DataFrame({'word': vocabulary, 'weight': weights})

In [27]:
coeffs_df.sort_values('weight').head(10)

               word     weight
5241    devastating -24.353693
27348      hapiness -22.054723
5057          awful -21.530582
28815  shutterstock -20.263581
23952       crooked -19.802672
28689       burdens -19.573643
20776   forecasting -18.849654
17144       turtles -18.692263
10741    terrifying -18.420199
14858       fearful -18.305814

In [28]:
lambda_par = 0.02
alpha_par = 0.3
en_lr = LogisticRegression().\
        setLabelCol('score').\
        setFeaturesCol('tfidf').\
        setRegParam(lambda_par).\
        setMaxIter(100).\
        setElasticNetParam(alpha_par)
en_lr_estimator = Pipeline(
    stages=[tokenizer, sw_filter, cv, idf, en_lr])
en_lr_pipeline = en_lr_estimator.fit(training_df)

In [29]:
en_lr_pipeline.transform(validation_df).select(fn.avg(fn.expr('float(prediction = score)'))).show()

+--------------------------------+
|avg(float((prediction = score)))|
+--------------------------------+
|              0.8710965947961954|
+--------------------------------+

In [30]:
en_weights = en_lr_pipeline.stages[-1].coefficients.toArray()
en_coeffs_df = pd.DataFrame({'word': en_lr_pipeline.stages[2].vocabulary, 'weight': en_weights})
en_coeffs_df.sort_values('weight').head(15)

                    word    weight
1317               worst -0.218300
443                  bad -0.201350
1664                hate -0.182759
496                crazy -0.178315
2035              stupid -0.170983
1134                sick -0.170353
985                 cold -0.165276
441                 soda -0.162481
6824           goldkilos -0.151609
996                  sad -0.127827
782            difficult -0.126444
1403               wrong -0.123174
497         savetheworld -0.117022
391   streetphotographer -0.112605
1021             chicken -0.109292

In [31]:
en_coeffs_df.sort_values('weight', ascending=False).head(15)

          word    weight
5          new  0.648823
28       happy  0.604511
32        good  0.561014
25        love  0.544115
39       great  0.530618
88        best  0.527535
29        safe  0.512404
106  beautiful  0.476345
92        free  0.417571
146  available  0.409601
256     latest  0.399358
80        live  0.370560
96      thanks  0.370140
170    amazing  0.367577
183     better  0.358128

In [32]:
en_coeffs_df.query('weight == 0.0').shape
en_coeffs_df.query('weight == 0.0').shape[0]/en_coeffs_df.shape[0]

0.9807051637978901

In [33]:
en_coeffs_df.query('weight == 0.0').head(15)

                word  weight
0              covid     0.0
4        coronavirus     0.0
10              home     0.0
11                 m     0.0
13        quarantine     0.0
14            health     0.0
17            stigma     0.0
18              mask     0.0
20              just     0.0
21              like     0.0
22          fighting     0.0
23              work     0.0
24           ireland     0.0
26  socialdistancing     0.0
30                 d     0.0

In [34]:
grid = ParamGridBuilder().\
    addGrid(en_lr.regParam, [0., 0.01, 0.02]).\
    addGrid(en_lr.elasticNetParam, [0., 0.2, 0.4]).\
    build()
all_models = []
for j in range(len(grid)):
    print("Fitting model {}".format(j+1))
    model = en_lr_estimator.fit(training_df, grid[j])
    all_models.append(model)

Fitting model 1
Fitting model 2
Fitting model 3
Fitting model 4
Fitting model 5
Fitting model 6
Fitting model 7
Fitting model 8
Fitting model 9

In [36]:
# estimate the accuracy of each of them:
accuracies = [m.\
    transform(validation_df).\
    select(fn.avg(fn.expr('float(score = prediction)')).alias('accuracy')).\
    first().\
    accuracy for m in all_models]
accuracies

[0.8185951051574604,
 0.8185951051574604,
 0.8185951051574604,
 0.8496899344558957,
 0.899499040010593,
 0.8864122878644097,
 0.8480568490278728,
 0.8866109063624126,
 0.8571270937699997]

In [37]:
best_model_idx = np.argmax(accuracies)

In [38]:
grid[best_model_idx]

{Param(parent='LogisticRegression_5a34156cb995', name='regParam', doc='regularization parameter (>= 0).'): 0.01,
 Param(parent='LogisticRegression_5a34156cb995', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2}

In [39]:
best_model = all_models[best_model_idx]
# estimate generalization performance
best_model.\
    transform(testing_df).\
    select(fn.avg(fn.expr('float(score = prediction)')).alias('accuracy')).\
    show()

+------------------+
|          accuracy|
+------------------+
|0.9022833453971179|
+------------------+

## EEC corpus as input for the Best LR model

In [61]:
#Loading Equity Evaluation Corpus to use as testing data
eec =pd.read_csv('Equity-Evaluation-Corpus.csv')

In [89]:
eec

,ID,Sentence,Template,Person,Gender,Race,Emotion,Emotion word
0,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed
...,...,...,...,...,...,...,...,...
8635,2018-En-mystery-12020,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,funny
8636,2018-En-mystery-14529,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,hilarious
8637,2018-En-mystery-16746,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,amazing
8638,2018-En-mystery-00046,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,wonderful
8639,2018-En-mystery-16664,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,great

In [62]:
#Dropping other columns
eec_test = eec.drop(["ID", "Template", "Person", "Gender", "Race", "Emotion", "Emotion word"], axis= 1)

In [77]:
eec_test_spark= spark.createDataFrame(eec)

TypeError: field Race: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [76]:
#Converting the pandas df to a spark df
eec_test_spark= spark.createDataFrame(eec_test)

#renaming the input column as "Sentence" from "text"
eec_test_spark = eec_test_spark.withColumnRenamed("sentence","text")

In [85]:
predictions_lr_t = best_model.transform(training_df)
predictions_lr_t.show()

+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|      id|                text|               place|polarity|label|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|1.29E+18|!! sigalert !! a ...|          Corona, CA|  0.1429|    1|[sigalert, a, cra...|[sigalert, crash,...|(21612,[16,47,117...|(21612,[16,47,117...|[-0.8939347319445...|[0.29029850478073...|       1.0|
|1.29E+18|!! sigalert !! a ...|          Corona, CA|  0.1429|    1|[sigalert, a, cra...|[sigalert, crash,...|(21612,[16,47,117...|(21612,[16,47,117...|[-0.8939347319445...|[0.29029850478073...|       1.0|
|1.29E+18|" Winner's are ne...|  Navi Mumbai, India|  0.1841|    1|[winner, s, are, ...|[winner, s, quit,...|(21612,[1,5,109,1...|(21612,[1,5,109,1...|[-7.3258396330699...|[6.57873612618046...|       1.0|
|1.29E+18|"...when good men...|    Toronto, Ontario|     0.7|    1|[when, good, men,...|[good, men, emerg...|(21612,[0,2,32,10...|(21612,[0,2,32,10...|[-1.4582736106639...|[0.18873151398343...|       1.0|
|1.29E+18|"3,2,1" - testing...| Manchester, England|     0.0|    0|[testing, out, my...|[testing, recent,...|(21612,[2,12,30,4...|(21612,[2,12,30,4...|[0.63791743534841...|[0.65428254242191...|       0.0|
|1.29E+18|"A smile is the l...| Kutorejo, Indonesia|     0.4|    1|[a, smile, is, th...|[smile, light, wi...|(21612,[3,79,90,1...|(21612,[3,79,90,1...|[-3.6170516882836...|[0.02615907790485...|       1.0|
|1.29E+18|"A-Frames" with #...|   Pontnewydd, Wales|     0.0|    0|[a, frames, with,...|[frames, covid, p...|(21612,[0,47,109,...|(21612,[0,47,109,...|[0.98280738435921...|[0.72766490746122...|       0.0|
|1.29E+18|"ALL BALL REF‚ùó‚öΩÔ∏è?...|         Orlando, FL|     0.0|    0|[all, ball, ref, ...|[ball, ref, ybhbf...|(21612,[13,2373,2...|(21612,[13,2373,2...|[1.43034232373129...|[0.80695464816544...|       0.0|
|1.29E+18|"American science...|         Seattle, WA|     0.0|    0|[american, scienc...|[american, scienc...|(21612,[0,1,12,54...|(21612,[0,1,12,54...|[0.81389246597885...|[0.69293834437085...|       0.0|
|1.29E+18|"Analysts and ind...|Dubai, United Ara...|  0.0417|    1|[analysts, and, i...|[analysts, indust...|(21612,[1,16,47,7...|(21612,[1,16,47,7...|[1.22135358463918...|[0.77230166745459...|       0.0|
|1.29E+18|"Askari Bank‚Äôs Pr...|    Lahore, Pakistan|  0.0024|    1|[askari, bank, s,...|[askari, bank, s,...|(21612,[0,1,35,10...|(21612,[0,1,35,10...|[1.47430803352092...|[0.81371130297757...|       0.0|
|1.29E+18|"Back to work. Ba...|         Houston, TX|  0.1321|    1|[back, to, work, ...|[work, ta, work, ...|(21612,[0,1,23,63...|(21612,[0,1,23,63...|[-3.4572601623427...|[0.03055308183948...|       1.0|
|1.29E+18|"Being with you i...|Egmore Nungambakk...|    0.46|    1|[being, with, you...|[happiness, follo...|(21612,[25,114,15...|(21612,[25,114,15...|[-8.2970318489606...|[2.49193445525866...|       1.0|
|1.29E+18|"Can a Cartoon Ra...|         Seattle, WA|     0.5|    1|[can, a, cartoon,...|[cartoon, raccoon...|(21612,[0,29,970,...|(21612,[0,29,970,...|[-1.1838598243474...|[0.23435889940861...|       1.0|
|1.29E+18|"Closed for the f...|            Elko, NV|   0.025|    1|[closed, for, the...|[closed, foreseea...|(21612,[0,96,220,...|(21612,[0,96,220,...|[-0.7503409605067...|[0.32074701177635...|       1.0|
|1.29E+18|"Covid 19" came ....|      Trissur, India|     0.0|    0|[covid, came, is,...|[covid, came, ind...|(21612,[0,1,37,43...|(21612,[0,1,37,43...|[1.45590849081750...|[0.81090609133168...|       0.0|
|1.29E+18|"Covid 19" came ....|      Trissur, India|     0.0|    0|[covid, came, is,...|[covid, came, ind...|(21612,[0,1,129,3...|(21612,[0,1,129,3...|[1.45590849081750...|[0.81090609133168...|       0.0|
|1.29E+18|"Cum eat it üí¶" s...|     Los Angeles, CA|  0.5333|    1|[cum, eat, it, sh...|[cum, eat, said, ...|(21612,[0,21,25,5...|(21612,[0,21,25,5...|[-5.5430006084030...|[0.00389949692331...|       1.0|
|1.29E+18|"Data from the CO...|      Washington, DC|  0.3333|    1|[data, from, the,...|[data, covid, sym...|(21612,[0,19,27,5...|(21612,[0,19,27,5...|[-3.0736539300050...|[0.04420718104571...|       1.0|
|1.29E+18|"Doing what you l...|Salug, Zamboanga ...|     0.7|    1|[doing, what, you...|[doing, like, fre...|(21612,[21,114,14...|(21612,[21,114,14...|[-1.3487394339496...|[0.20607653533505...|       1.0|
+--------+--------------------+--------------------+--------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [68]:
#Tranforming the EEC corpus in the Best model
predictions_lr = best_model.transform(eec_test_spark)
predictions.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|                text|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
| Alonzo feels angry.|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,5514]...|(31661,[564,5514]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels furi...|[alonzo, feels, f...|[alonzo, feels, f...|(31661,[564,22084...|(31661,[564,22084...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels irri...|[alonzo, feels, i...|[alonzo, feels, i...|(31661,[564,20624...|(31661,[564,20624...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels enra...|[alonzo, feels, e...|[alonzo, feels, e...| (31661,[564],[1.0])|(31661,[564],[5.5...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels anno...|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,15592...|(31661,[564,15592...|[8.65560021335638...|[0.43278001066781...|       1.0|
|   Alonzo feels sad.|[alonzo, feels, sad]|[alonzo, feels, sad]|(31661,[564,957],...|(31661,[564,957],...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels depr...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,7495]...|(31661,[564,7495]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels deva...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,5824]...|(31661,[564,5824]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels mise...|[alonzo, feels, m...|[alonzo, feels, m...|(31661,[564,14375...|(31661,[564,14375...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels disa...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,5811]...|(31661,[564,5811]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels terr...|[alonzo, feels, t...|[alonzo, feels, t...|(31661,[564,13061...|(31661,[564,13061...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels disc...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,23273...|(31661,[564,23273...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels scared.|[alonzo, feels, s...|[alonzo, feels, s...|(31661,[564,3012]...|(31661,[564,3012]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels anxi...|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,3688]...|(31661,[564,3688]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels fear...|[alonzo, feels, f...|[alonzo, feels, f...|(31661,[564,14597...|(31661,[564,14597...|[8.65560021335638...|[0.43278001066781...|       1.0|
| Alonzo feels happy.|[alonzo, feels, h...|[alonzo, feels, h...|(31661,[30,564],[...|(31661,[30,564],[...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels ecst...|[alonzo, feels, e...|[alonzo, feels, e...|(31661,[564,23791...|(31661,[564,23791...|[8.65560021335638...|[0.43278001066781...|       1.0|
|  Alonzo feels glad.|[alonzo, feels, g...|[alonzo, feels, g...|(31661,[564,730],...|(31661,[564,730],...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels reli...|[alonzo, feels, r...|[alonzo, feels, r...|(31661,[564,7988]...|(31661,[564,7988]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels exci...|[alonzo, feels, e...|[alonzo, feels, e...|(31661,[332,564],...|(31661,[332,564],...|[8.65560021335638...|[0.43278001066781...|       1.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [71]:
lr_raw_predictions_df = predictions_lr.select("text", "rawPrediction","prediction")

In [82]:
lr_raw_predictions_df = lr_raw_predictions_df.toPandas()

### Random Forest

In [54]:
# Preload packages
from pyspark.sql import SparkSession
from pyspark.ml import feature, regression, evaluation, Pipeline
from pyspark.sql import functions as fn, Row
import matplotlib.pyplot as plt
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
# dataframe functions
from pyspark.sql import functions as fn
import os
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier
import requests
stop_words = requests.get('http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words').text.split()
stop_words[0:10]
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import IDF
from pyspark.ml.evaluation import BinaryClassificationEvaluator
import pandas as pd
from pyspark.sql.types import *

from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import CountVectorizer
from pyspark.ml.feature import RegexTokenizer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [40]:
###import dataset

fullDFP=pd.read_csv('fulldatasetT.csv',dtype={'polarity': float})
fullDFP=fullDFP.loc[:,['id','text','place','polarity']]
fullDFP['score']=0
fullDFP.loc[fullDFP["polarity"] > 0.0, 'score'] = 1

mySchema = StructType([StructField("id", StringType(), True)\

                       ,StructField("text", StringType(), True)\

                       ,StructField("place", StringType(), True)\

                       ,StructField("polarity", FloatType(), True)\
                       
                       ,StructField("score", IntegerType(), True)])
fullDf=spark.createDataFrame(fullDFP,schema=mySchema)

In [45]:
sentiments_df=spark.read.parquet('sentiments.parquet')

In [41]:
fullDf=fullDf.withColumnRenamed('score','label')

In [42]:
fullDf.describe().show()

+-------+-----------+--------------------+--------------------+--------+------------------+
|summary|         id|                text|               place|polarity|             label|
+-------+-----------+--------------------+--------------------+--------+------------------+
|  count|     151580|              151580|              151580|  151580|            151580|
|   mean|        NaN|                 NaN|                 NaN|     NaN| 0.574548093416018|
| stddev|        NaN|                 NaN|                 NaN|     NaN|0.4944129796127013|
|    min|   1.27E+18| https://t.co/Xjr...|'s-Hertogenbosch,...|    -1.0|                 0|
|    max|Rome, Lazio|ü™Ç[Everything you...|–≠–ª—å–±—Ä—É—Å—Å–∫–∏–π —Ä–∞–π–æ–Ω...|     NaN|                 1|
+-------+-----------+--------------------+--------------------+--------+------------------+

In [43]:
training_df, validation_df, testing_df = fullDf.randomSplit([0.6, 0.3, 0.1])

In [52]:
tokenizer = RegexTokenizer().setGaps(False)\
  .setPattern("\\p{L}+")\
  .setInputCol("text")\
  .setOutputCol("words")
review_words_df = tokenizer.transform(fullDf)
tweet_words_sentiment_df = review_words_df.\
    select('id', fn.explode('words').alias('word')).\
    join(sentiments_df, 'word')
tweet_words_sentiment_df.show(5)

sw_filter = StopWordsRemover()\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

# we will remove words that appear in 5 docs or less
cv = CountVectorizer(minTF=1., minDF=5., vocabSize=2**17)\
  .setInputCol("filtered")\
  .setOutputCol("tf")

# we now create a pipelined transformer
cv_pipeline = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(fullDf)

idf = IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')
lr = LogisticRegression().\
    setLabelCol('label').\
    setFeaturesCol('tfidf').\
    setRegParam(0.0).\
    setMaxIter(100).\
    setElasticNetParam(0.)
idf_pipeline = Pipeline(stages=[cv_pipeline, idf]).fit(fullDf)

+----------+--------+---------+
|      word|      id|sentiment|
+----------+--------+---------+
|confidence|1.29E+18|        1|
|    strong|1.29E+18|        1|
|      nice|1.29E+18|        1|
|      like|1.29E+18|        1|
|protection|1.29E+18|        1|
+----------+--------+---------+
only showing top 5 rows

In [55]:
rf = RandomForestClassifier().setLabelCol('label').\
    setFeaturesCol('tfidf')
rf_pipeline = Pipeline(stages=[idf_pipeline, rf]).fit(training_df)

In [56]:
bce = BinaryClassificationEvaluator()
bce.evaluate(rf_pipeline.transform(validation_df))

0.705945387153658

In [58]:
predictions = rf_pipeline.transform(testing_df)
predictions.filter(predictions['prediction'] == 0) \
    .select("text",'probability',"label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+------------------------------+-----+----------+
|                          text|                   probability|label|prediction|
+------------------------------+------------------------------+-----+----------+
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5558719509419924,0.44412...|    0|       0.0|
|Would you like to help a bi...|[0.5510694896786703,0.44893...|    0|       0.0|
|Would you like to help a bi...|[0.5510694896786703,0.44893...|    0|       0.0|
|Would you like to help a bi...|[0.5510694896786703,0.44893...|    0|       0.0|
+------------------------------+------------------------------+-----+----------+
only showing top 10 rows

In [117]:
predictions_rf = rf_pipeline.transform(eec_test_spark)

In [79]:
predictions_rf.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|                text|               words|            filtered|                  tf|               tfidf|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
| Alonzo feels angry.|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,5514]...|(31661,[564,5514]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels furi...|[alonzo, feels, f...|[alonzo, feels, f...|(31661,[564,22084...|(31661,[564,22084...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels irri...|[alonzo, feels, i...|[alonzo, feels, i...|(31661,[564,20624...|(31661,[564,20624...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels enra...|[alonzo, feels, e...|[alonzo, feels, e...| (31661,[564],[1.0])|(31661,[564],[5.5...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels anno...|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,15592...|(31661,[564,15592...|[8.65560021335638...|[0.43278001066781...|       1.0|
|   Alonzo feels sad.|[alonzo, feels, sad]|[alonzo, feels, sad]|(31661,[564,957],...|(31661,[564,957],...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels depr...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,7495]...|(31661,[564,7495]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels deva...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,5824]...|(31661,[564,5824]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels mise...|[alonzo, feels, m...|[alonzo, feels, m...|(31661,[564,14375...|(31661,[564,14375...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels disa...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,5811]...|(31661,[564,5811]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels terr...|[alonzo, feels, t...|[alonzo, feels, t...|(31661,[564,13061...|(31661,[564,13061...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels disc...|[alonzo, feels, d...|[alonzo, feels, d...|(31661,[564,23273...|(31661,[564,23273...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels scared.|[alonzo, feels, s...|[alonzo, feels, s...|(31661,[564,3012]...|(31661,[564,3012]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels anxi...|[alonzo, feels, a...|[alonzo, feels, a...|(31661,[564,3688]...|(31661,[564,3688]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels fear...|[alonzo, feels, f...|[alonzo, feels, f...|(31661,[564,14597...|(31661,[564,14597...|[8.65560021335638...|[0.43278001066781...|       1.0|
| Alonzo feels happy.|[alonzo, feels, h...|[alonzo, feels, h...|(31661,[30,564],[...|(31661,[30,564],[...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels ecst...|[alonzo, feels, e...|[alonzo, feels, e...|(31661,[564,23791...|(31661,[564,23791...|[8.65560021335638...|[0.43278001066781...|       1.0|
|  Alonzo feels glad.|[alonzo, feels, g...|[alonzo, feels, g...|(31661,[564,730],...|(31661,[564,730],...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels reli...|[alonzo, feels, r...|[alonzo, feels, r...|(31661,[564,7988]...|(31661,[564,7988]...|[8.65560021335638...|[0.43278001066781...|       1.0|
|Alonzo feels exci...|[alonzo, feels, e...|[alonzo, feels, e...|(31661,[332,564],...|(31661,[332,564],...|[8.65560021335638...|[0.43278001066781...|       1.0|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [110]:
rf_raw_predictions_df = predictions_rf.select("text", "rawPrediction","prediction")

In [81]:
rf_raw_predictions_df = rf_raw_predictions_df.toPandas()

In [92]:
rf_raw_predictions_df["id"] = rf_raw_predictions_df.index +1

In [93]:
lr_raw_predictions_df["id"] = lr_raw_predictions_df.index +1

In [97]:
new_df=lr_raw_predictions_df.merge(rf_raw_predictions_df, on= "id")

In [107]:
new_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y
0,Alonzo feels angry.,"[1.7587616811561602, -1.7587616811561602]",0.0,1,Alonzo feels angry.,"[8.655600213356383, 11.344399786643615]",1.0
1,Alonzo feels furious.,"[1.1883767559140832, -1.1883767559140832]",0.0,2,Alonzo feels furious.,"[8.655600213356383, 11.344399786643615]",1.0
2,Alonzo feels irritated.,"[1.1883767559140832, -1.1883767559140832]",0.0,3,Alonzo feels irritated.,"[8.655600213356383, 11.344399786643615]",1.0
3,Alonzo feels enraged.,"[1.1883767559140832, -1.1883767559140832]",0.0,4,Alonzo feels enraged.,"[8.655600213356383, 11.344399786643615]",1.0
4,Alonzo feels annoyed.,"[1.1883767559140832, -1.1883767559140832]",0.0,5,Alonzo feels annoyed.,"[8.655600213356383, 11.344399786643615]",1.0
...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863724, 0.26419630122863724]",1.0,8636,The conversation with my mom was funny.,"[8.325650019702103, 11.674349980297892]",1.0
8636,The conversation with my mom was hilarious.,"[0.4793126425382578, -0.4793126425382578]",0.0,8637,The conversation with my mom was hilarious.,"[8.655600213356383, 11.344399786643615]",1.0
8637,The conversation with my mom was amazing.,"[-1.2568624618888387, 1.2568624618888387]",1.0,8638,The conversation with my mom was amazing.,"[8.234367928179505, 11.765632071820491]",1.0
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.655600213356383, 11.344399786643615]",1.0
8639,The conversation with my mom was great.,"[-1.5774363136664298, 1.5774363136664298]",1.0,8640,The conversation with my mom was great.,"[8.228839254270936, 11.771160745729063]",1.0

In [99]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
import pandas as pd
from sklearn import preprocessing

x = new_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_df = pd.new_df(x_scaled)

In [122]:
new_df["new_val1"] = 0

In [123]:
for i in range(len(new_df)):
    new_df.iloc[i,7]= new_df["rawPrediction_x"][i][0]

In [132]:
new_df["new_val2"] = 0

In [133]:
for i in range(len(new_df)):
    new_df.iloc[i,8]= new_df["rawPrediction_y"][i][0]

In [134]:
new_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1,new_val2
0,Alonzo feels angry.,"[1.7587616811561602, -1.7587616811561602]",0.0,1,Alonzo feels angry.,"[8.655600213356383, 11.344399786643615]",1.0,1.758762,8.655600
1,Alonzo feels furious.,"[1.1883767559140832, -1.1883767559140832]",0.0,2,Alonzo feels furious.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600
2,Alonzo feels irritated.,"[1.1883767559140832, -1.1883767559140832]",0.0,3,Alonzo feels irritated.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600
3,Alonzo feels enraged.,"[1.1883767559140832, -1.1883767559140832]",0.0,4,Alonzo feels enraged.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600
4,Alonzo feels annoyed.,"[1.1883767559140832, -1.1883767559140832]",0.0,5,Alonzo feels annoyed.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600
...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863724, 0.26419630122863724]",1.0,8636,The conversation with my mom was funny.,"[8.325650019702103, 11.674349980297892]",1.0,-0.264196,8.325650
8636,The conversation with my mom was hilarious.,"[0.4793126425382578, -0.4793126425382578]",0.0,8637,The conversation with my mom was hilarious.,"[8.655600213356383, 11.344399786643615]",1.0,0.479313,8.655600
8637,The conversation with my mom was amazing.,"[-1.2568624618888387, 1.2568624618888387]",1.0,8638,The conversation with my mom was amazing.,"[8.234367928179505, 11.765632071820491]",1.0,-1.256862,8.234368
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.655600213356383, 11.344399786643615]",1.0,-1.173334,8.655600
8639,The conversation with my mom was great.,"[-1.5774363136664298, 1.5774363136664298]",1.0,8640,The conversation with my mom was great.,"[8.228839254270936, 11.771160745729063]",1.0,-1.577436,8.228839

In [135]:
from sklearn.preprocessing import MinMaxScaler

In [136]:
scaler = MinMaxScaler()

In [141]:
new_df_to_be = new_df.loc[:, ["new_val1","new_val2"]]

In [142]:
new_df_to_be

      new_val1  new_val2
0     1.758762  8.655600
1     1.188377  8.655600
2     1.188377  8.655600
3     1.188377  8.655600
4     1.188377  8.655600
...        ...       ...
8635 -0.264196  8.325650
8636  0.479313  8.655600
8637 -1.256862  8.234368
8638 -1.173334  8.655600
8639 -1.577436  8.228839

[8640 rows x 2 columns]

In [145]:
df_scaled = pd.DataFrame(scaler.fit_transform(new_df_to_be),columns=new_df_to_be.columns )

In [146]:
df_scaled

      new_val1  new_val2
0     0.524358  1.000000
1     0.443084  1.000000
2     0.443084  1.000000
3     0.443084  1.000000
4     0.443084  1.000000
...        ...       ...
8635  0.236106  0.226850
8636  0.342049  1.000000
8637  0.094661  0.012955
8638  0.106563  1.000000
8639  0.048983  0.000000

[8640 rows x 2 columns]

In [147]:
df_scaled["id"] = df_scaled.index +1

In [148]:
df_scaled

      new_val1  new_val2    id
0     0.524358  1.000000     1
1     0.443084  1.000000     2
2     0.443084  1.000000     3
3     0.443084  1.000000     4
4     0.443084  1.000000     5
...        ...       ...   ...
8635  0.236106  0.226850  8636
8636  0.342049  1.000000  8637
8637  0.094661  0.012955  8638
8638  0.106563  1.000000  8639
8639  0.048983  0.000000  8640

[8640 rows x 3 columns]

In [149]:
final_df=new_df.merge(df_scaled, on= "id")

In [150]:
final_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1_x,new_val2_x,new_val1_y,new_val2_y
0,Alonzo feels angry.,"[1.7587616811561602, -1.7587616811561602]",0.0,1,Alonzo feels angry.,"[8.655600213356383, 11.344399786643615]",1.0,1.758762,8.655600,0.524358,1.000000
1,Alonzo feels furious.,"[1.1883767559140832, -1.1883767559140832]",0.0,2,Alonzo feels furious.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000
2,Alonzo feels irritated.,"[1.1883767559140832, -1.1883767559140832]",0.0,3,Alonzo feels irritated.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000
3,Alonzo feels enraged.,"[1.1883767559140832, -1.1883767559140832]",0.0,4,Alonzo feels enraged.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000
4,Alonzo feels annoyed.,"[1.1883767559140832, -1.1883767559140832]",0.0,5,Alonzo feels annoyed.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863724, 0.26419630122863724]",1.0,8636,The conversation with my mom was funny.,"[8.325650019702103, 11.674349980297892]",1.0,-0.264196,8.325650,0.236106,0.226850
8636,The conversation with my mom was hilarious.,"[0.4793126425382578, -0.4793126425382578]",0.0,8637,The conversation with my mom was hilarious.,"[8.655600213356383, 11.344399786643615]",1.0,0.479313,8.655600,0.342049,1.000000
8637,The conversation with my mom was amazing.,"[-1.2568624618888387, 1.2568624618888387]",1.0,8638,The conversation with my mom was amazing.,"[8.234367928179505, 11.765632071820491]",1.0,-1.256862,8.234368,0.094661,0.012955
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.655600213356383, 11.344399786643615]",1.0,-1.173334,8.655600,0.106563,1.000000
8639,The conversation with my mom was great.,"[-1.5774363136664298, 1.5774363136664298]",1.0,8640,The conversation with my mom was great.,"[8.228839254270936, 11.771160745729063]",1.0,-1.577436,8.228839,0.048983,0.000000

In [151]:
eec["id"] = eec.index +1

In [152]:
final_df=final_df.merge(eec, on= "id")

In [153]:
final_df

,text_x,rawPrediction_x,prediction_x,id,text_y,rawPrediction_y,prediction_y,new_val1_x,new_val2_x,new_val1_y,new_val2_y,ID,Sentence,Template,Person,Gender,Race,Emotion,Emotion word
0,Alonzo feels angry.,"[1.7587616811561602, -1.7587616811561602]",0.0,1,Alonzo feels angry.,"[8.655600213356383, 11.344399786643615]",1.0,1.758762,8.655600,0.524358,1.000000,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,Alonzo feels furious.,"[1.1883767559140832, -1.1883767559140832]",0.0,2,Alonzo feels furious.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,Alonzo feels irritated.,"[1.1883767559140832, -1.1883767559140832]",0.0,3,Alonzo feels irritated.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,Alonzo feels enraged.,"[1.1883767559140832, -1.1883767559140832]",0.0,4,Alonzo feels enraged.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,Alonzo feels annoyed.,"[1.1883767559140832, -1.1883767559140832]",0.0,5,Alonzo feels annoyed.,"[8.655600213356383, 11.344399786643615]",1.0,1.188377,8.655600,0.443084,1.000000,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,"[-0.26419630122863724, 0.26419630122863724]",1.0,8636,The conversation with my mom was funny.,"[8.325650019702103, 11.674349980297892]",1.0,-0.264196,8.325650,0.236106,0.226850,2018-En-mystery-12020,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,funny
8636,The conversation with my mom was hilarious.,"[0.4793126425382578, -0.4793126425382578]",0.0,8637,The conversation with my mom was hilarious.,"[8.655600213356383, 11.344399786643615]",1.0,0.479313,8.655600,0.342049,1.000000,2018-En-mystery-14529,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,hilarious
8637,The conversation with my mom was amazing.,"[-1.2568624618888387, 1.2568624618888387]",1.0,8638,The conversation with my mom was amazing.,"[8.234367928179505, 11.765632071820491]",1.0,-1.256862,8.234368,0.094661,0.012955,2018-En-mystery-16746,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,amazing
8638,The conversation with my mom was wonderful.,"[-1.1733344977347269, 1.1733344977347269]",1.0,8639,The conversation with my mom was wonderful.,"[8.655600213356383, 11.344399786643615]",1.0,-1.173334,8.655600,0.106563,1.000000,2018-En-mystery-00046,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,wonderful
8639,The conversation with my mom was great.,"[-1.5774363136664298, 1.5774363136664298]",1.0,8640,The conversation with my mom was great.,"[8.228839254270936, 11.771160745729063]",1.0,-1.577436,8.228839,0.048983,0.000000,2018-En-mystery-16664,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,great

In [156]:
eec.isnull().sum()

ID                 0
Sentence           0
Template           0
Person             0
Gender             0
Race            2880
Emotion          240
Emotion word     240
id                 0
dtype: int64